@tailwind base;
@tailwind components;
@tailwind utilities;
/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/

#app,
.reveal {
  @apply !h-screen;
  width: 100vw !important;
}

.reveal-viewport,
#reveal {
  background: black !important;
}

.hljs {
  color: #c9d1d9;
  text-shadow: none;
  font-family: 'MonoLisa' !important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
@font-face {
  font-family: 'silkscreennormal';
  src: url('fonts/silkscreen_normal_macroman/slkscr-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}

#reveal {
  @apply text-center;
  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 1px !important;
  animation: scanlines infinite 55s linear;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00 !important;
  font-family: 'silkscreennormal';

  img {
    filter: drop-shadow(0 0 10px #00ff00);
    image-rendering: pixelated;
  }

  a {
    @apply text-yellow-400;
  }

  .progress {
    @apply !hidden;
  }
  h1 {
    font-family: 'silkscreennormal';
  }
  .slide-number {
    @apply bg-transparent z-[1] text-lg;
    font-family: 'silkscreennormal';
    text-shadow: none !important;
  }

  .auto-scroll {
    overflow: visible;
    position: absolute;
    animation: scroll 10s linear;
  }

  .font-mono {
    font-family: 'MonoLisa';
  }
}
@keyframes scroll {
  from {
    top: 0px;
  }
  to {
    top: -5240px;
  }
}
